- render 'default' do
  %div.post
    %h1= item[:title]
    %div
      %span Post tags:
      - item[:tags].sort.each do |tag|
        |
        %span= link_to(tag, "/tags/#{tag}")
      |
    %article= yield

